@import '../variables/variables';
@import '../mixins/mixins';
@import (reference) '../../../../node_modules/platypusui/platypus';

& {
    #platui > #mixins;

    @form-font-color: #aaaaaa;

    .input-group {
        width: 100%;
        max-width: 30em;
        margin: 0 auto;
        background-color: @white;
        border-radius: 4px;
        border: 2px solid @accent-blue;

        &.conditions {
            height: 3.5em;
        }

        & > .input-control {
            width: 100%;
            height: @navbar-height;
            color: @form-font-color;
            padding: 0 @container-horizontal;
            border: 0;
            border-bottom: 2px solid @accent-blue;
        }

        &.input-group-inline {
            .flex-vertical-center();
            .justify-content(space-between);
            
            & > .input-inline {
                border: none;
            }

            .amount {
                position: relative;
                .flex-vertical-center();
                margin-right: 1em;
                padding-left: @container-horizontal;
                color: @form-font-color;

                & > input {
                    width: 5em;
                    border: none;
                    outline: none;
                    color: @form-font-color;
                }
            }
        }

        .radio {
            .flex-vertical-center();
            .justify-content(space-between);

            & > .label {
                font-size: 2em;
                color: @form-font-color;
            }

            & > .checkbox {
                font-size: 2em;
                color: @green;
            }
        }

        & [type="text"] {
            font-size: 1.1em;
        }

        .basic-select {
            background-image: none;
            padding: 0 0.3em!important;
            min-width: 3em;
            color: @form-font-color;
        }
    }

    .form-icon {
        font-size: 1.5em;
        
        &.form-icon-danger {
            color: @red;
        }

        &.form-icon-success {
            color: @green;
        }

        &.form-icon-right {
            padding-right: 1em;
        }     
    }
}