/// Sizes
@container-horizontal: 1em;
@navbar-height: 4em;

/// Colors
@primary-blue: #79ceda;
@dark-blue: #2d3370;
@navbar-grey: #777777;
@white: #ffffff;
@green: #41bfa1;
@accent-blue: saturate(lighten(@primary-blue, 20%), 20%);
@font-grey: #999999;
@red: #dd4d4e;

@blue1: #79ceda;
@blue2: #0d9fd5;
@blue3: #2773ba;
@blue4: #1f4a98;
@blue5: #2d3370;