<div class="icon-container">
    <img src="assets/images/gender.svg" alt="" class="profile-icon">
</div>
<h1>Gender</h1>
<p>Different strokes for gals and blokes. Let us suggest some gender-specific services you may need.</p>
<div class="radio-group">
    <div class="radio" plat-tap="setGender('female')">
        <div class="label">Female</div>
        <div class="checkbox">
            <i class="fa fa-check" plat-visible="{{ gender === 'female' }}"></i>
        </div>
    </div>
    <div class="radio" plat-tap="setGender('male')">
        <div class="label">Male</div>
        <div class="checkbox">
            <i class="fa fa-check" plat-visible="{{ gender === 'male' }}"></i>
        </div>
    </div>
</div>