@import '../variables/variables';
@import '../mixins/mixins';
@import (reference) '../../../../node_modules/platypusui/platypus';

& {
    #platui > #mixins;

    html {
        box-sizing: border-box;
    }

    body {
        background-color: @primary-blue;
    }
    
    *, *:before, *:after {
        box-sizing: inherit;
    }

    [plat-control="plat-viewcontrol"] {
        background-color: @primary-blue;
    }

    .main {
        height: 100%;
        padding: 0 @container-horizontal;
        .flex-vertical-center();
        .justify-content(center);
        .flex-direction(column);

        &.login {
            .facebook-icon {
                width: 15em;
                max-width: 70%;
            }
        }

        &.procedure {
            padding: 0;
        }

        &.schedule {
            .justify-content(flex-start);
            background-color: @primary-blue;
        }

        &.profile {
            background-color: @primary-blue;
            text-align: center;

            h1,h2,h3,h4,h5, p {
                color: lighten(@primary-blue, 25%);
                text-shadow: 1px 1px 0px darken(@primary-blue, 5%);
            }

            p {
                padding-bottom: 1em;
                font-size: 1.2em;
            }

            .justify-content(flex-start);

            .icon-container {
                .flex-basis(2);
                .flexbox();
                .flex-direction(column);
                .justify-content(flex-end);
                .align-items(center);
                height: 20vh;
                padding: 1em 0;

                .profile-icon {
                    width: 12em;
                }
            }
        }

        &.login {
            background-color: @primary-blue;
            text-align: center;
        }
    }
}
