@import '../variables/variables';
@import '../mixins/mixins';
@import (reference) '../../../../node_modules/platypusui/platypus';

& {
    #platui > #mixins;

    html, body {
        box-sizing: border-box;
        background-color: @background-grey;
        color: @font-grey;
    }
    
    *, *:before, *:after {
        box-sizing: inherit;
    }

    [plat-control="plat-viewcontrol"] {
        background-color: @background-grey;
    }

    .header {
        height: 3em;
        height: 10vh;
        width: 100%;
        .flex-vertical-center();
        .justify-content(center);
        font-size: 1.4em;
        background-color: @navbar-grey;
        color: @white;
    }

    .main {
        height: 100%;
        padding: 0 @container-horizontal;
        .flex-vertical-center();
        .justify-content(center);
        .flex-direction(column);

        &.procedure {
            padding: 0;
        }

        &.schedule {
            .justify-content(flex-start);
        }

        &.login {
            text-align: center;
        }
    }
}
